{% block adminnav %}
	<div class="mt-5">
		<aside class="col-3 border border-light bg-white p-2">
			<article class="card mb-3">
				<div class="card-header">
					Produits
				</div>
				<div class="card-body">
					<p>
						<a href="{{ path('admin_products_index') }}">Liste des produits</a>
					</p>
					<p>
						<a href="{{ path('admin_products_add') }}">Ajouter un produit</a>
					</p>
					<p>
						<a href="{{ path('admin_promo_index') }}">Liste des Promotions</a>
					</p>
					<p>
						<a href="{{ path('admin_promo_add') }}">Ajouter une promotion</a>
					</p>
				</div>
			</article>
			<article class="card mb-3">
				<div class="card-header">
					Utilisateurs
				</div>
				<div class="card-body">
					<p>
						<a href="{{ path('admin_users_index') }}">Liste des utilisateurs</a>
					</p>
				</div>
			</article>
		</aside>
	</div>
{% endblock %}
