<nav class="navbar navbar-expand-lg custom-bg-color fixed-top">
	<div class="container-fluid">
		<div class="navbar-brand" href="{{ path('main') }}">
			<div class="logo">
				<a href="{{ path('main') }}">
					<img src="{{ asset('assets/img/mercadona_logo.svg') }}" alt="Logo">
				</a>
			</div>
		</div>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active text-white" aria-current="page" href="{{ path('main') }}">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="#">Dernière chance</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						En savoir plus
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="#">Notre histoire</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Nos objectifs</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="#">Nous rejoindre</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link text-white" href="{{ path('profile_index') }}">Mon compte</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="{{ path('app_logout') }}">Me déconnecter</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link text-white" href="{{ path('app_register') }}">M'inscrire</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="{{ path('app_login') }}">Me connecter</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
