{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="mt-5">
			<h1 class="mt-5">Bienvenue sur votre profil,
				{{ app.user.lastname }}
				{{ app.user.firstname }}
				!</h1>

			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('admin_index') }}" class="btn custom-bg-color">Espace Admin</a>
			{% endif %}

			<h2 class="mt-5">Vos commandes :</h2>
			{% if app.user.orders is empty %}
				<p>Pour le moment, vous n'avez aucune commande !</p>
			{% else %}
				<ul>
					{% for order in app.user.orders %}
						<li>{{ order.reference }}
							-
							{{ order.created_at|date('d/m/Y') }}</li>
					{% endfor %}
				</ul>
			{% endif %}


		</div>
	</div>

{% endblock %}
