{% extends "base.html.twig" %}

{% block title %}Détails de
	{{ product.name }}
{% endblock %}

{% block body %}
	<main class="container mt-5 mb-5">
		<section class="row">
			<div class="col-12 mt-5">
				<h1>{{ product.name }}</h1>
			</div>
			<div class="col-6">
				<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-indicators">
						{% for iteration in 1..product.images|length %}
							<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ iteration - 1 }}" {{ (loop.first ) ?'class="active" aria-current="true"' : '' }} aria-label="Slide {{ iteration }}"></button>
						{% endfor %}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Precedent</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Suivant</span>
					</button>
				</div>
			</div>
			<div class="col-6">
				<p>{{ product.description }}</p>
				<p>Catégorie :
					{{ product.categories.name }}</p>
				<p>Prix :
					{# {% if product.isOnpromotions() %}
																																																																																	<strong class="text-danger">{{ product.price / 100 }}€</strong>
																																																																																{% else %} #}
					{{ product.price / 100 }}€
					{# {% endif %} #}
					{% if product.stock > 0 %}
						<a href="#" class="btn btn-success">Ajouter au panier</a>
					{% else %}
						<p class="text-danger">Temporairement en rupture de stock</p>
					{% endif %}


					{% if product.promotion and product.promotion.getPromotionDisc   %}
						promo 		:
						{{ product.promotion.name }}
						{{ product.promotion.getPromotionDisc }}
					{% endif %}


				</p>
			</div>
		</section>
	</main>
{% endblock %}
