{% extends "base.html.twig" %}

{% block title %}Liste des produits
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row">
			<aside class="col-10 border border-light bg-white p-2">
				{% include "_partials/_adminnav.html.twig" %}
			</aside>
			<main class="col-10 border border-light bg-white p-2 pt-3">
				<div class="div mt-4">
					<h1 class="mt-4">Liste des produits</h1>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>

							<th>Nom</th>
							<th>Prix</th>
							<th>Stock</th>
							<th>Catégorie</th>
							<th>Promotion</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for produit in produits %}
							<tr>
								<td>{{ produit.id }}</td>
								<td>{{ produit.name }}</td>
								<td>{{ produit.price / 100 }}</td>
								<td>{{ produit.stock }}</td>
								<td>{{ produit.categories.name }}</td>
								<td>
									{% if produit.promotion and produit.promotion.getPromotionDisc  %}
										{{ produit.promotion.name }}
										{{ produit.promotion.getPromotionDisc }}%
									{% endif %}
								</td>
								<td>
									<a href="{{ path('admin_products_edit', {id: produit.id})}}" class="btn btn-success">Modifier</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</main>
		</div>
	</div>
{% endblock %}
